<ion-header>
  <ion-toolbar >
    <ion-title color="ourtheme">
      BR
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content   >

  <ion-card color="ourtheme" (click)="user('student')" button style="width: 200px; height: 200px; margin: auto; margin-top: 15%; border-radius: 20px; padding: 2px; border: 1px solid #0a4694">
    <img src="../../../assets/student.png">
  </ion-card>

  <ion-card color="ourtheme" (click)="user('driver')" button style="width: 200px; height: 200px; margin: auto; margin-top: 20px;border-radius: 20px; padding: 2px; border: 1px solid #0a4694">
    <img src="../../../assets/driver.png">
  </ion-card>

</ion-content>
