<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="acs.loginStatus" (click)="toggle()"><ion-icon size="large" color="ourtheme" name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-menu side="start" menuId="menu" contentId="main">
  
      <ion-header *ngIf="acs.loginStatus">
        <ion-toolbar color="ourtheme">
          <h4 style="text-align: center; margin-top: 15px; font-weight: 500;letter-spacing: 1px;">Welcome Back {{acs.user.firstname}}</h4>
          
        </ion-toolbar>
      </ion-header>
    
    <ion-content>
      <ion-list>
        <ion-item *ngIf="acs.loginStatus" (click)="navigate('home')" ><ion-icon color="ourtheme" slot="start" name="home-outline"></ion-icon>Home</ion-item>
        
        <ion-item *ngIf="acs.loginStatus" (click)="navigate('account')" ><ion-icon color="ourtheme" slot="start" name="person-outline"></ion-icon>Account</ion-item>
                        
        <ion-item *ngIf="acs.loginStatus" (click)="signout()" ><ion-icon slot="start" color="ourtheme" name="log-out-outline"></ion-icon>Sign Out</ion-item>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
